body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
    color: #000000;
    text-decoration:underline;
}

p {
    color: #0000aa;
    text-decoration:blink;
}

a {
    color: #00b7ff;
    text-decoration:blink;
}
